
html {font-size: 22px;
}

body{background: linear-gradient(to bottom, rgb(204, 229, 255), rgba(204, 229, 255, 0.4));
color: purple;}
a:visited{ color: lightgreen; }
a:hover, a:active{color: #eee;
text-align: justify;
}

.potrest-guerrilla-regular {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  li {
    list-style: none;
  }
  #list {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    color: blue;
}

#title {
   color: black;
   background: green;
   border:  3px solid black;
   padding: 0rem;
   font-style: normal;
font-weight: 400;}

   .subtitle {color: red;}

#contact {
    font-size: 30px;
}
li:first-child {color: red;}
li:last-child {color: yellow;}

table, tr, th, td, caption {
    border: 1px solid #eee;
    font-family:'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}
#service-image { 
    height: 400px;
    width: 70%;
   background: radial-gradient(circle, red 20%, blue 40%, green 55%);
border: 10px solid rgb(154, 174, 200);


}

a {
    text-decoration: none;
}
#html5-logo {
    height: 300px;
    width: 60%;
    border:  2px solid black;
    margin: 10px;
    float: inherit;
    
    }
    .container{
        background-color: rgb(250, 250, 250);
        margin: 10px;
        height: 300px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
    }
 .container-item{
        background: green;
       color: white;
        font-size: 25px;
        text-align: center;
    line-height: 50px;
       
        width: 70px;
        margin: 10px;

    }
  .grid-container {
    background-color: rgb(250, 250, 250);
    display: grid;
    margin: 10px;
    height: 500px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;


  }
  .grid-item{
    color: black;
    font-size: 25px;
    text-align: center;
    width: 70px;
    line-height: 40px;
    margin: 10px;
  }
.submit {
    background-color: rgb(7, 55, 100);
    font-size: 20px;
    width: 100px;
    display: inline;
    padding: 10px 15px;
margin: 20px 10px;
font-weight: 600;
font-family: 'Courier New', Courier, monospace;
color: white;
border: none;
text-decoration: none;
transform: matrix(1,0.45, 0.45, 1, 100, 50);
transition: background, padding 300ms ease-in-out;
-webkit-transition: background, padding 300ms ease-in-out;
}
.submit:hover {
    background: burlywood;
    padding: 20px 30px;
}

.reset {
    background-color: rgb(189, 193, 197);
    font-size: 20px;
    width: 100px;
    display: inline;
    padding: 10px 15px;
margin: 20px 10px;
font-weight: 600;
font-family: 'Courier New', Courier, monospace;
color: white;
border: none;
text-decoration: none;
}

#contact-me { 
    animation-name: red-black;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-iteration-count: 3;
    
}

@keyframes red-black {
    0%{background: red; transform: translate(0px 0px);}
    50%{background: yellow; transform: translate(10px 10px);}
    100%{background: black; transform: translate(20px 20px);}
}
.social-icons {
    display: grid;
    font-size: 3rem;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: center;
  }
  iframe{
    border: 5px solid black;
margin: 50px 20px; 
padding: 50px;
border-radius: 22px;
  }